/* Character.scss */
.character {
  position: relative;
  /* Other styles */
}

.character-name {
  position: absolute;
  bottom: 100%; /* Position above the character */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  // color: black;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.chat-bubble-container {
  position: absolute;
  bottom: 100%; /* Position above the character */
  left: 50%;
  transform: translateX(-50%);
  /* Adjust as needed */
}
